.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(64, 64, 64);
  color: white;
  text-decoration: none;
  height: 10vh;
  font-size: 25px;
}

.links {
  margin-top: 1.5%;
  text-decoration: none;
  color: azure;
}
